{% extends 'base.html' %}

{% block title %}Добавить статью{% endblock %}

{% block heading %}<br>Добавление статьи:{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for err in form.non_field_errors %}
                {{ err.as_text }}
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'add_article' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}">Название статьи:</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.photo.id_for_label }}">Вы можете прикрепить уже загруженные
                изображения или <a href="{% url 'add_image' %}">загрузить новые</a>:</label>
            {{ form.photo }}
            {{ form.photo.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}">Текст статьи:</label>
            {{ form.content }}
            {{ form.content.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.is_published.id_for_label }}">Опубликовано:</label>
            {{ form.is_published }}
            {{ form.is_published.errors }}
        </div>

        <div class="mb-3">
            <label for="{{ form.author.id_for_label }}">Автор:</label>
            {{ form.author }}
            {{ form.author.errors }}
        </div>

        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
    </form>
    <br>
    <br>
{% endblock %}