<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Blog</title>
</head>
<body>
<div id="header" style="border: black 3px solid">
    <div style="border: black 3px solid; width: 150px; height: 150px; background-image: url(https://ibb.co/30gnvjZ) " >
        <img scr="{% static "images/logo.png" %}">

    </div>
    <h1 align="left">КУПИ<br>СЛОНА</h1>
</div>
<h1>Блог</h1>

    <!-- #include virtual="include/header.txt"-->
    {% for item in news %}
        <div>
            <h3>{{  item.title }}</h3>
            {% for ph in item.photo.all %}
                <p> {{ ph.title }}</p>
            {% endfor %}
            <p>{{ item.content }}</p>
            <p>{{ item.created_at }}</p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>