
body {
    background: #c5dfc5;
    font-family: 'Merriweather', serif;
}

#header {
    position: relative;
    height: 200px;
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
}